.env

# Elastic Beanstalk Files
# .elasticbeanstalk/*
.elasticbeanstalk/my-app.zip
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Claude.md
__pycache__
.DS_Store

hls/*
!hls/readme.txt
.claude

data/*
!data/.gitkeep
web/response.json
