POSTGRES_USER = geodashboardpostgres
POSTGRES_PASSWORD = geodashboardpostgres
POSTGRES_DB = geodashboard
STORAGE_S3_BUCKET = geodashboard
STORAGE_S3_KEY = geodashboardminio
STORAGE_S3_SECRET = geodashboardminio
